<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script> 
        <script src="scriptMain.js"></script>
        <title>{% block title %}Ma page d'accueil{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'home.css' %}">
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
                <a class="nav-logo" href=""><img src="../signUp_SignIn/red_logo.svg" alt="logo" href="#"></a>
                <ul id="lnks" class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href=""><i class="fas fa-search"></i><span class="txt">Find meal</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href=""><i class="fas fa-utensils"></i><span class="txt">Propose meal</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href=""><i class="fas fa-question"></i><span class="txt">FAQ</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href=""><i class="fas fa-phone"></i><span class="txt">Contact us</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href=""><i class="fas fa-info"></i><span class="txt">Help</span></a>
                    </li>
                </ul>
                <div class="dropdown">
                    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="far fa-id-badge"></i><span class="txt">Account</span></button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Messages</a>
                        <a class="dropdown-item" href="#">Information</a>
                        <a class="dropdown-item" href="#">Disconnect</a>
                    </div>
                </div>
            </nav>
        </header>
        <footer class="footer">
            <p>© 2019 Copyright: Group Potato</p>
        </footer>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>