@font-face {
    font-family: "Catamaran";
    src: url('../catamaran/Catamaran-Black.ttf') format('truetype');
}

@media only screen and (max-width: 802px){
    .txt {
        display: none;
    }
}

* {
    font-family: 'Catamaran';
    padding: 3px;
}

.view {
    width: 100%;
    height: 100%;
    background-image: url("hero.jpg");
    background-position: center;
    background-repeat: no-repeat;
    position: fixed;
    text-align: center;
}

.view button {
    display: flex;
    margin:25% auto ;
}

.view p {
    display: block;
    margin: 0 auto;
    color: brown;
}

.nav-item {
    margin-left: 20px;
}

.nav-logo{
    min-width: 32px;
    height: 32px;
    margin-right: 10px;
}

.dropdown {
    margin-left: auto;
    margin-right: 40px;
}

footer p {
    margin-top: 200px; 
    padding-right: 5px;
    text-align: right;
}